.input-icon-wrap {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
}

.input-icon, .clear_icon {
  background: #ddd;
  padding: 1em;
}

.input-with-icon {
  border: none;
  flex: 1;
}


.clear_icon {
  border: 1px solid #948e8e;

}

.paper-check {
  margin-left: 10px;
}
.row {
  align-items: baseline;
}
button {
  margin-left: 10px;
}

nav div {
  margin: 0 0.1rem
}
nav .collapsible > button {
  margin-right: 0.5rem;
}



