.nav-brand {
  width: 80%;
}

.input-icon-wrap {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
}

.input-icon, .clear_icon {
  background: #ddd;
}

.input-with-icon {
  border: none;
  flex: 1;
}
.input-icon, .clear_icon, .input-with-icon {
  padding: 10px;
}

.clear_icon {
  border: 1px solid #948e8e;
}

#paperInputs1 {
  margin-left: 10px;

}
.paper-check {
  margin-left: 10px;
}
.row {
  align-items: baseline;
}
button {
  margin-left: 10px;
}




