.swiper-container {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.swiper-pagination {
    bottom: 6px;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}
